{% if action is defined and action is not null and action is not empty %}
    <a href="{{ path(action.path, action.parameters) }}">
{% endif %}
{{ property|raw }}
{% if action is defined and action is not null %}
    </a>
{% endif %}